[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NicheBarcoding"]
	path = NicheBarcoding
	url = https://github.com/yangcq-ivy/nichebarcoding
